docker {
    enabled = true
}

process {
    withName:ReadTrimming {
        container = 'dennistpw/align:latest'
    }
    withName:FastQC {
        container = 'dennistpw/align:latest'
    }
    withName:MultiQC {
        container = 'dennistpw/align:latest'
    }
    withName:bwaAlign {
        container = 'dennistpw/align:latest'
    }
    withName:bwaSort {
        container = 'dennistpw/align:latest'
    }
    withName:MarkDuplicates {
        container = 'broadinstitute/gatk:latest'
    }
    withName:AddOrReplaceReadGroups {
        container = 'broadinstitute/gatk:latest'
    }
    withName:HaplotypeCaller {
        container = 'broadinstitute/gatk:latest'
    }
    withName:genomicsDBImport {
        container = 'broadinstitute/gatk:latest'
    }
    withName:genotypeGVCF {
        container = 'broadinstitute/gatk:latest'
    }
}



